      body {
        padding-top: 40px;
        padding-bottom: 20px;
		background-color:#e7ebf2;
      }
	  .navbar .brand {
       float: left;
       display: block;
       padding: 8px 20px 12px;
       margin-left: -20px;
       font-size: 26px;
       font-weight: 200;
       line-height: 1;
       color: #ffffff;
      }
	  .navbar-search {
      position: relative;
      float: left;
      margin-top: 7px;
      margin-bottom: 0;
      }
      .navbar-search .search-query {
	  width:370px;
	  height:20px;
      padding: 4px 9px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: normal;
      line-height: 1;
      color: #ffffff;
      background-color:#EEEEEE;
      border: 1px solid #DDDDDD;
	  color:#000000;
      }
	 .navbar-inner {
     padding-left: 20px;
     padding-right: 20px;
  background: #2c539e; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjNTM5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYzUzOWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #2c539e 0%, #2c539e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c539e), color-stop(100%,#2c539e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #2c539e 0%,#2c539e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #2c539e 0%,#2c539e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #2c539e 0%,#2c539e 100%); /* IE10+ */
background: linear-gradient(top, #2c539e 0%,#2c539e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 ); /* IE6-8 */
     }
	 .navbar-search .search-query:-moz-placeholder {
      color:#777777;
     }
     .navbar-search .search-query::-webkit-input-placeholder {
      color:#777777;
     }
	 .highlight { 
	   background-color:#80B2FF;
	 }
	 /* Centering the image  http://stackoverflow.com/questions/1224399/display-the-image-in-the-center-of-the-page */
	 img.center {
	  position:absolute;
      width:32px; /*image width */
      height:32px; /*image height */
      left:50%; 
      top:50%;
      margin-left:-16px; /*image width/2 */
      margin-top:-16px; /*image height/2 */
	 }
	 
#title {
  font-family:'Pacifico', Verdana, Tahoma, Georgia, serif;
  font-size:24px;
  font-style:normal;
}
 
#result p {
  font-family:'Arimo', Verdana, Tahoma, Helvetica, sans-serif;
  font-size:14px;
}	 

 .navbar .nav > li > a,
 .navbar .dropdown-menu a {
	 font-family:'Arimo', Verdana, Tahoma, Helvetica, sans-serif;
	 padding-top:12px;
    font-weight: bold;
    color:#EEEEEE;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  
  #name p {
	  font-family:'Arimo', Verdana, Tahoma, Helvetica, sans-serif;
	  line-height:normal;
	  font-size:14px;
  }
  #name a:link { color:#006699; }
  #name a:active{color:#006699; }
  #name a:visited{color:#006699;}
  #name a:hover{color:#006699;}
  
  .well {
  min-height: 15px;
  padding-top:12px;
  padding-bottom:2px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor:default;
  }
  
  .shareit p {
	  font-family:'Arimo', Verdana, Tahoma, Georgia, serif;
	  font-size:14px;
	  font-style:normal;
  }
  
  .social-single {
margin: 17px 0 0 0;
}

#twitterbutton, #likebutton, #stumblebutton, #sharebutton, #linkedinshare {
float: left;
display: block;
}

#likebutton {
margin-top:0px;
margin-left:-3px;
}

#sharebutton {
margin-left:0px;
margin-top:0px;
margin-right: 5px;
}

#stumblebutton {
margin-left: 20px;
margin-top: 1px;
}

#pinterest {
margin-left: 20px;
margin-top: 1px;
}

#plusonebutton {
margin-left: 20px;
margin-top: 1px;
}

#no {
	font-family:'Pacifico', Verdana, Tahoma, Georgia, serif;
    font-size:36px;
    font-style:normal;
}

#showcase h1 {
	text-align:center;
	color:#CC0099;
	font-family:'Oleo Script', cursive, Verdana, Tahoma, Georgia, serif;
	font-size:36px;
	font-style:normal;
	margin-right:auto;
	margin-left:auto;
}

#virendra p {
	font-family:'Oleo Script', cursive, Verdana, Tahoma, Georgia, serif;
	font-size:14px;
	font-style:normal;
}

.profile_text {
	cursor:default;
	padding-left:70px;
}

.profile_pics {
	width:55px;
	height:60px;
	position:static;
	float:left;
}

.timestamp {
	font:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#555555;
}

.status_type {
	color:#000000;
	font-size:12px;
}

.youtube a:link {
	color:#0000EE;
	border-bottom:1px groove #FF0000;
}

.youtube a:hover {
	color:#0099FF;
	border-bottom:1px groove #FF0000;
}

.youtube a {
	color:#0099FF;
	border-bottom:1px groove #FF0000;
}

#notification p {
	color:#444444;
}