       .style3 {
        font-family: 'Shadows Into Light', serif;
		color:#E60000;
        font-size: 36px;
      }
	   .style2 {
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
      }
       .myInputbox{
	  font:bold 16px Tahoma;
	  color:#666;
	  border:1px solid #c0c0c0;
	  border-right:1px solid #c0c0c0;
	  background:#ffffff !important;
	  background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#efefef));
	  background-image:-moz-linear-gradient(top, #fff, #fff);
	  background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#efefef));
	  filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff, endColorStr=#efefef);
	  height:1.9331em;
	  padding:0 0.5em;
	  cursor:normal;
	  width:450px;
	  white-space:nowrap;
	  overflow:visible; /* fixes width in IE7 */
	  outline:0 none /* removes focus outline in IE */
	  input::-moz-focus-inner {border:none} /* removes focus outline in FF */
	  -moz-border-radius: 0.1em;
	  border-radius: 0.1em;
	  -moz-box-shadow: 0 0 0.1em 0 #c0c0c0;
	  -webkit-box-shadow: 0 0 0.1em 0 #c0c0c0;
	  box-shadow: 0 0 0.1em 0 #c0c0c0;
      }
      .myButton{
	  font:normal 15px arial,helvetica,sans-serif;
	  color:#000;
	  border:1px solid #c0c0c0;
	  background-color:#f1f1f1;
	  background:url(bg.png) no-repeat;
	  filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff, endColorStr=#efefef);
	  padding:0.4em 0.7em;
	  cursor:pointer;
	  white-space:nowrap;
	  overflow:visible; /* fixes width in IE7 */
	  outline:0 none /* removes focus outline in IE */
	  input::-moz-focus-inner {border:none} /* removes focus outline in FF */
	  -moz-border-radius: 0.1em;
	  border-radius: 0.1em;
	  -moz-box-shadow: 0 0 0.1em 0 #c0c0c0;
	  -webkit-box-shadow: 0 0 0.1em 0 #c0c0c0;
	  box-shadow: 0 0 0.1em 0 #c0c0c0;
	  position:relative;
	  left:-3px;
	  top:5px\9;
	  padding:5px 4px 7px 4px\9;
      }
	  /* set millions of background images */
.rbroundbox { background: url(nt.gif) repeat; }
.rbtop div { background: url(tl.gif) no-repeat top left; }
.rbtop { background: url(tr.gif) no-repeat top right; }
.rbbot div { background: url(bl.gif) no-repeat bottom left; }
.rbbot { background: url(br.gif) no-repeat bottom right; }

/* height and width stuff, width not really nessisary. */
.rbtop div, .rbtop, .rbbot div, .rbbot {
width: 100%;
height: 7px;
font-size: 1px;
}
.rbcontent { margin: 0 7px; }
.rbroundbox { width: 50%; margin: 1em auto; }